@media only screen and (max-width: 1400px) {
    .navigation-gow-left {
        grid-column: 1;
        grid-template-rows: 0.5fr 1fr;
    }
    .neutron {
        left: 50px;
        grid-column: 2;
    }
    .language-container {
        padding-left: 9%;
        grid-column: 2;
        grid-row: 2;
        bottom: 50%;
        align-items: center;
    }
    .navigation-section {
        grid-template-columns: 1fr 0.5fr;
    }
    .navigation-conteiner li:nth-child(1), .navigation-conteiner li:nth-child(2) {
        justify-self: center;
    }
    .navigation-conteiner.enter {
        justify-self: center;
        left: 0%;
    }
    .navigation-item.signup-button a {
        left: 0%;
    }
    .horizontal-email {
        width: 0;
        height: 0;
    }
    .security {
        grid-template-columns: 50px 3fr 3fr 3fr 100px;
    }
    .security-privacy {
        padding-left: 27px;
        grid-column: 2;
    }
    .security-privacy::after {
        display: none;
    }
    *::after {
        display: none;
    }
    .security-encryption {
        grid-column: 3;
    }
    .security-email {
        grid-column: 4;
    }
    .security-email:after {
        display: none;
    }
    .security-main:after {
        display: none;
    }
    .horizontal-email {
        display: none;
    }
    .horizintal {
        display: none;
    }
    .slider-wrap {
        grid-template-columns: 2fr 1fr;
    }
    .slider-comments {
        grid-column: 1;
        grid-row: 1;
        padding-left: 51px;
    }
    .slider-wrap .control {
        grid-column: 1;
        grid-row: 1;
        bottom: 0px;
        right: -27px;
    }
    .donate-button-container .donate-button {
        top: 5%;
    }
    .download {
        padding-left: 10%;
        grid-column: 1;
    }
    .download-content h3 {
        left: 37%;
    }
    .download-content p {
        width: 622px;
        padding-left: 22%;
    }
    .top-text {
        left: -5%;
        bottom: 19%;
        grid-column: 2;
        grid-row: 1;
        align-self: start;
        justify-self: end;
        font-size: 0.8rem;
    }
    .copyright {
        grid-column: 1/3;
        padding-right: 352px;
        justify-self: center;
    }
}

@media only screen and (max-width: 1200px) {
    .main-text h1 {
        font-size: 2.8rem;
    }
    .main-text p {
        font-size: 2rem;
    }
    .navigation-section {
        grid-column: 2/5;
    }
    .button-creat {
        width: 212px;
        padding: 17px 50px;
    }
    .navigation-item a {
        font-weight: bold;
    }
    .navigation-row-left {
        grid-template-columns: 0.5fr 2fr;
    }
    .button-creat a {
        font-size: 16px;
        ;
    }
    .security {
        grid-template-columns: 20px 3fr 3fr 3fr 100px;
        grid-gap: 0;
    }
    .security-privacy h3 {
        bottom: 33%;
    }
    .security-encryption h3 {
        bottom: 33%;
    }
    .security-email h3 {
        bottom: 33%;
    }
    .security-title {
        font-size: 24px;
    }
    .security-subtitle {
        font-size: 0.95rem;
    }
    .security-about {
        font-size: 0.9rem;
    }
    .security-main {
        grid-column: 1 / 4;
    }
    .security-main a {
        left: 117px;
        padding: 14px 17px;
        font-size: 0.9rem;
    }
    .security-main h2 {
        font-size: 42px;
    }
    .security-info {
        font-size: 1.1rem;
    }
    .neutron {
        font-size: 1.5rem;
        left: 26px;
    }
    .download {
        font-size: 2rem;
    }
    .download {
        padding-left: 3%;
        bottom: -67px;
        font-size: 2rem;
    }
    .download {
        right: 145px;
        bottom: -79px;
        font-size: 2rem;
    }
    .download-content h3 {
        font-size: 2.2rem;
    }
    .donate-button a {
        font-size: 0.95rem;
    }
    .donate .donate-text-first {
        font-size: 2.1rem;
    }
    .donate .donate-text-second {
        font-size: 1.5rem;
    }
    .donate-button {
        top: 14%;
        left: -35%;
        height: 48px;
        width: 117px;
    }
    .upgrade-button {
        height: 52px;
        width: 196px;
        top: -4%;
    }
    .upgrade-button a {
        font-size: 0.95rem;
    }
    .slider-wrap {
        grid-template-columns: 1fr 1fr;
    }
    .slider-wrap label {
        height: 8px;
        margin: 8px;
        width: 9px;
    }
    #point1:checked~.control label:nth-of-type(1), #point2:checked~.control label:nth-of-type(2), #point3:checked~.control label:nth-of-type(3) {
        height: 10px;
        width: 9px;
    }
    .comment-one {
        font-size: 1rem;
    }
    .footer .support-company {
        grid-column: 1;
    }
    .footer-navigation>div {
        align-self: center;
        justify-self: start;
    }
    .footer-navigation .contact {
        top: 44%;
        padding-left: 18%;
        text-align: left;
        align-self: center;
    }
    footer .support-company {
        grid-row: 1;
    }
    .company-navy {
        top: 37%;
        right: 80%;
    }
    .legal-navy {
        top: 37%;
        right: 104%;
    }
    .neutron-navy {
        top: 36.5%;
        left: -81%;
    }
    .copyright {
        padding-right: 0;
        left: -19%;
    }
}

@media only screen and (max-width: 1000px) {
    .main {
        background-image: url(./assets/images/devices-mini.png), linear-gradient(-7deg, #fff 0%, #efefef 48%, #f8f8f8 45%, #fff 45%);
        background-position-x: 78%;
        background-position-y: 67.5%;
    }
    .support-company::after {
        display: none;
    }
    footer {
        grid-template-columns: 2.5fr 2fr 2fr;
        grid-template-rows: 0.5fr 0.6fr 1fr;
    }
    footer .support-company {
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-navigation {
        position: relative;
        top: 5%;
    }
    .social-navy {
        right: 16.5%;
        top: -105%;
    }
    .donate .donate-text-first {
        font-size: 2rem;
    }
    .donate .donate-text-second {
        font-size: 1.3rem;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .neutron {
        font-size: 1rem;
        left: 26px;
    }
    .neutron span {
        font-size: 1rem;
    }
    .button-creat a {
        font-size: 13px;
    }
    .language-container {
        bottom: 126%;
    }
    .language-item a {
        font-size: 0.675rem;
    }
    .navigation-item a {
        font-size: 0.7rem;
    }
    .navigation-item.login-button a {
        font-size: 0.6rem;
    }
    .navigation-item.signup-button a {
        font-size: 0.6rem;
        padding: 6px 9px 7px;
    }
    .main-text h1 {
        font-size: 2rem;
    }
    .main-text p {
        font-size: 1.2rem;
    }
    .main-subtitle span {
        font-size: 1.2rem;
    }
    .button-creat {
        width: 96px;
        padding: 16px 6px;
    }
    .button-creat a {
        font-size: 12px;
    }
    .security {
        grid-template-columns: 93px 3fr 3fr 100px;
        grid-template-rows: 1fr 1fr;
    }
    .security-main {
        display: none;
    }
    .security-privacy {
        padding-left: 27px;
        grid-column: 2;
    }
    .security-privacy h3 {
        left: 26%;
    }
    .security-encryption {
        grid-column: 3;
    }
    .security-encryption h3 {
        left: 22%;
    }
    .security-email {
        grid-column: 2;
        grid-row: 2;
    }
    .security-email h3 {
        left: 22%;
    }
    .journal {
        display: none;
    }
    .slider-wrap {
        top: -22%;
    }
    .download-android img {
        display: none;
    }

    .download-apple img {
        display: none;
    }

    .download {
        padding-left: 3%;
        bottom: -67px;
        font-size: 2rem;
    }
    .download-content h3 {
        font-size: 2rem;
    }
    .download-content p {
        width: 502px;
        padding-left: 44%;
        font-size: 0.8rem;
    }
    .donate .donate-text-first {
        font-size: 2rem;
    }
    .donate .donate-text-second {
        font-size: 1.3rem;
        padding-bottom: 10px;
    }
    .footer {
        top: 0;
    }
    .top-text {
        display: none;
    }
    footer .support-company {
        display: none;
    }
    .footer-navigation {
        grid-row: 1;
        grid-column: 1/4;
    }
    .footer-navigation .contact {
        top: 34%;
        grid-row: 1;
        grid-column: 1;
    }
    .company-navy {
        grid-row: 1;
        grid-column: 4/5;
        top: 17%;
        right: 16%;
    }
    .legal-navy {
        grid-row: 2;
        top: 54%;
        right: -28%;
    }
    .neutron-navy {
        grid-row: 2;
        grid-column: 3/4;
        top: 57.5%;
        left: 108%;
    }
    .footer-navigation>div {
        align-self: start;
        justify-self: start;
    }
    .footer-navigation .contact {
        align-self: start;
    }
    .copyright {
        padding-left: 135px;
        justify-self: start;
    }
}


@media only screen and (max-width: 620px) {
    .navigation-item.signup-button a {
        top: 20%;
        left: -92%;
    }
    .header-button {
        right: 18%; 
    }

    .security-privacy {
        grid-row: 1;
        grid-column: 1/4;
    }

    .security-encryption {
        grid-row: 2;
        grid-column: 1/4;
    }
    .security-email {
        grid-row: 3;
        grid-column: 1/4;
    }

    .donate {
        grid-row: 2;
        align-self: start;
        padding-top:0;
    }

    .slider-wrap{
        grid-row: 1;
        top: -81%;
    }
    .download {
        grid-row: 1;
        bottom: 85px;
    }
}