@font-face {
    font-family: 'Titillium Web Regular';
    src: url(./assets/fonts/TitilliumWeb-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Titillium Web Bold';
    src: url(./assets/fonts/TitilliumWeb-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web SemiBold';
    src: url(./assets/fonts/TitilliumWeb-Bold.ttf) format('truetype');
    /* font-weight: 600;
    font-style: normal; */
}

@font-face {
    font-family: 'Malaga RegItalic';
    src: url(./assets/fonts/MalagaOT-RegItalic.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url(./assets/fonts/MyriadPro-Regular.woff) format('woff');
    src: url(./assets/fonts/MyriadPro-Regular.ttf) format('truetype'), url(./assets/fonts/MyriadProRegular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
}

.grid {
    display: grid;
}

body {
    max-width: 1800px;
    margin: 0 auto;
}

.main-header {
    position: relative;
    min-height: 900px;
    background-image: url(./assets/images/header_background.png);
    /* background-size: cover;
    background-position: center; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.9fr 2fr;
}

.neutron {
    position: absolute;
}

.navigation-section {
    grid-template-columns: 1.1fr 1fr;
    grid-column: 3/5;
}

.navigation-conteiner {
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    height: 190px;
}

.navigation-item a {
    color: #454545;
    font-size: 1rem;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
}

.navigation-conteiner li:nth-child(1), .navigation-conteiner li:nth-child(2) {
    justify-self: end;
}

.navigation-conteiner li:nth-child(3) {
    justify-self: center;
}

.navigation-conteiner.enter {
    position: relative;
    left: 4%;
    width: max-content;
    grid-template-columns: repeat(2, 2fr);
    z-index: 1;
}

.navigation-item.login-button a {
    font-family: 'Titillium Web Bold', 'Myriad Pro Regular', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.8px;
}

.navigation-item.signup-button a {
    position: relative;
    top: 1%;
    left: 22%;
    color: #fff;
    font-size: 1rem;
    font-family: 'Titillium Web Bold', 'Myriad Pro Regular', sans-serif;
    font-weight: 700;
    border-radius: 23px;
    padding: 8px 22px 11px;
    background: linear-gradient(to top left, #6275cb, #582c7e);
}

.signup-button a {
    -webkit-box-shadow: -3px 9px 24px 1px #6e7eb8;
    -moz-box-shadow: -3px 9px 24px 1px #6e7eb8;
    box-shadow: -3px 9px 24px 1px #6e7eb8;
}

.navigation-conteiner .navigation-item {
    text-align: center;
    justify-self: start;
}

/* .language-menu {
    grid-area: leng;
    grid-template-columns: 1fr;
}  */

.neutron {
    position: relative;
    left: 200px;
    top: 78px;
    font-size: 1.875rem;
    font-family: 'Titillium Web SemiBold', 'Myriad Pro Regular', sans-serif;
    font-weight: 300;
    color: #858688;
}

.neutron span {
    font-size: 1.875rem;
    color: #5b4295;
}

.navigation__row-left {
    grid-template-columns: 1.35fr 2fr;
}

.language-container {
    grid-column: 2;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    /* justify-content: center; */
    /* width: max-content; */
}

.language-container li+li:before {
    content: "/";
}

.language-item {
    text-align: left;
}

.language-item:nth-child(2n) {
    text-align: center;
}

.language-item a {
    font-size: 0.875rem;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
    color: #b1b1b1;
}

.main-text {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1.7fr 1fr;
    grid-column: 1/5;
    grid-row: 2;
    height: max-content;
}

h1 {
    position: relative;
    bottom: 5px;
    text-align: center;
    color: #5f5f5f;
    font-size: 3.8rem;
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    font-family: 'Titillium Web SemiBold', 'Myriad Pro Regular', sans-serif;
    font-weight: 300;
}

.main-subtitle {
    text-align: center;
    position: relative;
    bottom: 16px;
    left: -2px;
    letter-spacing: -0.1px;
    color: #7a7a79;
    font-size: 2.35rem;
    grid-column: 2;
    grid-row: 2;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
}

.main-subtitle span {
    font-size: 2.2rem;
    font-family: 'Titillium Web SemiBold', 'Myriad Pro Regular', sans-serif;
    font-weight: 600;
    color: #fc6c6e;
}

.social-icons {
    position: fixed;
    top: 44.1%;
    right: 1.9%;

    grid-column: 3;
    grid-row-gap: 15px;
    grid-template-rows: repeat(3, 1fr);
    justify-items: right;
 
}

.social-icons .fab {
    color: #676766;
    background-color: #fff;
}

.header-button {
    position: relative;
    right: 7%;
    bottom: 10%;
    grid-row: 2;
    grid-column: 2;
    align-self: end;
    display: grid;
    grid-template-columns: 0.95fr 0.5fr 1fr;
    grid-gap: 23px;
}

.header-button::before {
    content: " ";
    width: 100px;
    height: 0;
    -webkit-box-shadow: -3px 9px 24px 1px #6e7eb8;
    -moz-box-shadow: -3px 9px 24px 1px #6e7eb8;
    box-shadow: -3px 9px 24px 1px #6e7eb8;
}

.button-creat {
    position: relative;
    top: 6px;
    width: 249px;
    height: 56px;
    padding: 13px 65px;
    border-radius: 31px;
    background-color: #5b5e9a;
    background: linear-gradient(to right, #646c92, #5f2f6a);
    grid-column: 2 /3;
}

.button-creat a {
    color: #fff;
    font-size: 18px;
    font-family: 'Titillium Web Bold', 'Myriad Pro Regular', sans-serif;
    font-weight: 700;
}

.button-creat {
    -webkit-box-shadow: 0px 13px 20px 5px #6e7eb8;
    -moz-box-shadow: 0px 13px 20px 5px #6e7eb8;
    box-shadow: 0px 13px 20px 5px #6e7eb8;
}

.fa-apple {
    color: white;
    background-color: #724a81;
    border-radius: 100%;
    padding: 12px 15px;
    -webkit-box-shadow: 41px 7px 29px -3px #6e7eb8;
    -moz-box-shadow: 41px 7px 29px -3px #6e7eb8;
    box-shadow: 41px 7px 29px -3px #6e7eb8;
}

.fa-google-play {
    color: white;
    background-color: #724a81;
    border-radius: 100%;
    padding: 12px 13px 12px;
    -webkit-box-shadow: 29px 0px 37px -3px #6e7eb8;
    -moz-box-shadow: 29px 0px 37px -3px #6e7eb8;
    box-shadow: 29px 0px 37px -3px #6e7eb8;
}

.button-apple {
    grid-column: 3/4;
    grid-row: 1;
    align-self: end;
}

.button-android {
    grid-column: 3/4;
    grid-row: 1;
    text-align: left;
    padding-top: 10px;
    padding-left: 68px;
    align-self: center;
}

.main {
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
}

.security {
    grid-column: 1 / 4;
    grid-template-columns: 2.1fr 3fr 3fr 3fr 1.5fr;
    grid-template-rows: repeat(2, 2fr);
    grid-column-gap: 58px;
    grid-row-gap: 17px;
    position: relative;
    padding-left: 6px;
    /* grid-template-areas: "privacy encryption email" 
                          "main main"; */
}

.security__main {
    grid-area: main;
    grid-row: 2;
    grid-column: 2 / 4;
    text-align: right;
    padding-right: 50px;
}

.security__privacy {
    position: relative;
    top: 2%;
    right: 1%;
    grid-area: privacy;
    grid-row: 1;
    grid-column: 2/ 3;
}

.security__privacy h3 {
    position: relative;
    left: 16%;
    word-spacing: 4px;
    bottom: 26%;
}

.security__privacy::before {
    content: url(./assets/images/iconPrivacy.png);
    position: relative;
    left: -13px;
    top: 1px;
}

.security__encryption {
    position: relative;
    left: 1.5%;
    grid-area: encryption;
    grid-row: 1;
    grid-column: 3 / 4;
    border-right: 1px solid #b9b9b9;
    z-index: 1;
}

.security__encryption h3 {
    position: relative;
    left: 16%;
    word-spacing: 4px;
    bottom: 26%;
}

.security__encryption::before {
    content: url(./assets/images/iconEncript.png);
    position: relative;
    left: -27px;
}

.security__email {
    position: relative;
    top: 5%;
    left: 3%;
    grid-area: email;
    grid-row: 1;
    grid-column: 4 / 5;
}

.security__email h3 {
    position: relative;
    left: 16%;
    word-spacing: 4px;
    bottom: 26%;
}


.security__email::before {
    content: url(./assets/images/iconEmail.png);
    position: relative;
    left: -14px;
    top: -3px;
}


.security-about {
    position: relative;
    bottom: 86px;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.55;
    color: #959393;

}


.security-title {
    font-size: 30px;
    color: #555555;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
}

.security-subtitle {
    position: relative;
    bottom: 83px;
    left: 48px;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
    color: #959393;
    font-size: 1.4rem;
    margin-bottom: 25px;
}

h2 {
    color: #535353;
    font-size: 60px;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
}

.security-info {
    color: #959393;
    font-size: 26px;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
    padding-left: 20px;
    line-height: 1;
}

.security-info span {
    color: #959393;
    font-size: 24px;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
    color: #fc6c6e;
}

.security__main a {
    position: relative;
    top: 51px;
    left: 212px;
    padding: 19px 33px;
    font-size: 1rem;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
    border: 1px solid #b9b9b9;
    border-radius: 45px;
    color: #666;
}

.blog {
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 3fr;
}

.journal {
    position: relative;
    bottom: 2%;
    left: 2.1%;
    grid-row: 1;
    grid-column: 1 /2;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}

.slider-wrap {
    position: relative;
    top: 29%;
    grid-row: 1;
    align-self: center;
    grid-column: 1;
    padding-left: 403px;
    word-spacing: 1px;
}

.slider-wrap>input {
    display: none;
}

.comment-one {
    color: #000;
    font-size: 1.5rem;
    font-family: 'Malaga RegItalic', 'Myriad Pro Regular', sans-serif;
    line-height: 1.3;
}

.slider-wrap .control {
    position: relative;
    bottom: 130px;
    right: 50px;
}

.slider-wrap label {
    position: relative;
    cursor: pointer;
    display: block;
    height: 11px;
    margin: 11px;
    width: 11px;
    border-radius: 100%;
    background-color: #b7b7b7;
}

#point1:checked~.control label:nth-of-type(1), #point2:checked~.control label:nth-of-type(2), #point3:checked~.control label:nth-of-type(3) {
    background-color: #101010;
    height: 13px;
    width: 13px;
}

.download {
    position: relative;
    align-self: center;
    left: 70%;
    bottom: 85px;
    grid-row: 2;
    grid-column: 1/3;

}

.download-content {
    width: 42%;
}

.download-content h3 {
    position: relative;
    bottom: 7px;
    left: 11%;
    color: #535353;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
    text-align: end;
    font-size: 2.25rem;
  
}

.download-content p {
    width: 431px;
    font-family: 'Titillium Web Regular', 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    text-align: end;
    color: #999;
}

.download-link {
    display: grid;
    position: relative;
    top: 27px;
    left: 18%;
    grid-template-columns: 1fr 2fr;
    grid-gap: 13px;
}

.download-android {
    z-index: 2;
}

footer {
    display: grid;
    grid-template-rows: 1fr 3fr;

}

.footer-navigation {
    grid-row:2;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

/* .main{

    background-image:  url(./assets/images/devices.png);
    background-position-y: 31%;
    background-position-x: 78%;
    background-repeat: no-repeat;
} */
        /* background-size: cover; 
}

/* .download {
    background-image:  url(./assets/images/devices.png);
        /* background-size: cover; */
    /* background-position: right;
    background-repeat: no-repeat;
} */ 

/* 
.blog-background {
    position: absolute;
    left: 305px;
    bottom: 37px;
    z-index: 1;
} */