* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.search-box {
    position: relative;
    left: 25%;
    top:18px;
    width: 50%;
    height: 40px;
    padding-left: 3%;
    border: 1px solid grey;
    background-color:#d6bbbb61;
}


.search-icon {
    position: relative;
    right: 27%;
    top: 20px;

}


button {
  position: relative;
  left: 26%;
  top: 20px;
  border: none;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(217,80,80,1);
}

.card-elem {
  width: 385px;
  height: 650px;
  border: 2px solid red;
  border-radius: 7%;
  -webkit-box-shadow: 45px 15px 35px -30px  rgba(217,80,80,1);
  -moz-box-shadow: 45px 15px 35px -30px rgba(217,80,80,1);
  box-shadow: 45px 15px 35px -30px rgba(217,80,80,1);
}

.card-info {
  font-size: 18px;
  font-weight: 600;
  padding: 30px 35px;
}


.card-container {
  position: relative;
  left: 20px;
  top: 100px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  overflow: hidden;
  grid-column-gap: 90px;

}

.clip-image{
  width: 380px;
  overflow: hidden;
  border-radius: 9%;
}

.video-link{
  position: relative;
  top: 95px;
  left: 15px;
  background-color: white;
  color:red;
  font-size: 25px;
}


.video-link:hover {
  font-size: 27px;
  color: violet;
}

.card-description {
  font-weight: normal;
  font-size: 16px;
  padding-top: 20px;
}
