.search-box {
    position: relative;
    left: 25%;
    top:18px;
    width: 50%;
    height: 25px;
    padding-left: 3%;
    border: 1px solid grey;
    border-radius: 12px;
    background-color: lightgrey;
}


.search-icon {
    position: relative;
    right: 27%;
    top: 20px;

}


button {
  position: relative;
  right: 27%;
  top: 24px;
  border: none;
  width: 22px;
  height: 24px;
  background-image: url(/src/assets/search.png);
  background-repeat: no-repeat;
  background-size: 100%;

}

.card-elem {
   width: 300px;
   height: 350px;
   border: 2px solid black;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 90%;
  overflow: hidden;
}
